FIGMA_EMAIL="email@example.com"
FIGMA_PASSWORD="hunter2"
FIGMA_AUTH_COOKIE="" # Value of __Host-figma.authn cookie — preferred auth method on server
FIGMA_ACCESS_TOKEN="figd_abcdefghijklmnopqrstuvwxyz"
DOWNLOAD_PATH="/Users/anonymous/Downloads" # Absolute path where files will be downloaded to
WAIT_TIMEOUT=120000 # Time in ms to wait between downloads (defaults to 10000)
